@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
}

.error{
    color: red;
}

body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box{
    width: 30vw;
    backdrop-filter: blur(-10px);
    border-radius: 4px;
    text-align: center;
}

.box .input-box{
    width: 100%;
    padding: 5px;
}