*{
    box-sizing: border-box;
}

header{
    position: fixed;
    width: 100vw;
    text-align: center;
}

.Main-Things{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

